@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Overpass', sans-serif;
}

/* VARIABLES */

:root {
  /* Color */
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --blue: hsl(215, 25%, 13%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Font */
  --f-title-l: 2rem;
  --f-title-s: 1rem;
  --f-text-l: 1rem;
  --f-text-s: 0.75rem;

  /* Size */
  --wrapper-w-l: 28rem;
  --wrapper-h-l: 28rem;
  --wrapper-w-s: 20rem;
  --wrapper-h-s: 20rem;
  --btn-l: 3.5rem;
  --btn-s: ;
  --sub-l: 3rem;
  --sub-s: ;
  --img-l: 30%;
  --img-s: ;
  --t-img-l: 10rem;
  --t-img-s: ;
}

.container {
  /* border: 1px solid red; */
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--very-dark-blue);
  /* background-color: beige; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RATING CARD */

.wrapper-rating {
  /* border: 1px solid red; */
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--blue) 30%
  );
  /* background-color: blue; */
  width: var(--wrapper-w-l);
  height: var(--wrapper-h-l);
  padding: 2rem;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transform-style: preserve-3d;
  transition: transform 1800ms ease-in-out;
}

.wrapper-rating::before {
  content: '';
  position: absolute;
  --space: 0.5rem;
  top: var(--space);
  left: var(--space);
  right: var(--space);
  bottom: var(--space);
  border: 5px solid var(--dark-blue);
  /* border: 5px solid transparent;
  border-image: linear-gradient(to bottom, var(--dark-blue), var(--blue)) 1; */
  border-radius: 20px;
  transform: translateZ(5rem);
  opacity: var(--opac, 0);
  transition: opacity 600ms ease-in-out;
}

.rating--sh {
  /* border: 1px solid red; */
  transform: rotateY(180deg);
}

.wrapper-rating__text {
  /* border: 1px solid red; */
  transform: translateZ(8rem);

  .text__title {
    /* border: 1px solid red; */
    color: var(--white);
    font-size: var(--f-title-l);
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .text__body {
    /* border: 1px solid red; */
    color: var(--light-grey);
    font-size: var(--f-text-l);
    line-height: 1.5;
  }
}

.text__image,
.rate-btn {
  /* border: 1px solid red; */
  background-color: var(--dark-blue);
  width: var(--btn-l);
  height: var(--btn-l);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vw;
}

.text__image {
  transform: translateZ(8rem);
  & img {
    width: var(--img-l);
  }
}

.wrapper-rating__rate {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  transform: translateZ(10rem);
}

.rate-btn {
  /* border: 1px solid red; */
  color: var(--light-grey);
  font-size: var(--f-text-l);
  border: none;
  transition: color 200ms;
}

.checked {
  background-color: var(--medium-grey);
  color: var(--white);
}

.rate-btn:hover,
.rate-btn:focus {
  background-color: var(--orange);
  color: var(--white);
}

.btn {
  width: 100%;
  height: var(--sub-l);
  background-color: var(--orange);
  border: none;
  border-radius: 40px;
  color: var(--white);
  font-size: var(--f-text-l);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(8rem);
  transition: color 200ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--white);
  color: var(--orange);
}

/* THANK YOU CARD */

.wrapper-thank__text {
  /* border: 1px solid red; */
  background-image: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--blue) 30%
  );
  position: absolute;
  top: 0;
  width: var(--wrapper-w-l);
  height: var(--wrapper-h-l);
  padding: 3rem;
  border-radius: 20px;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.wrapper-thank__text::before {
  content: '';
  position: absolute;
  --space: 0.5rem;
  top: var(--space);
  left: var(--space);
  right: var(--space);
  bottom: var(--space);
  border: 5px solid var(--dark-blue);
  border-radius: 20px;
  transform: translateZ(5rem);
  opacity: var(--opac, 0);
  transition: opacity 1000ms ease-in-out;
}

.thank__text__image {
  /* border: 1px solid red; */
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(8rem);
}

.thank__text__image img {
  display: block;
  width: var(--t-img-l);
}

.thank__text__score {
  margin: 0 auto;
  background-color: var(--dark-blue);
  width: max-content;
  font-size: var(--f-text-l);
  text-align: center;
  padding: 0.5rem 2rem;
  color: var(--orange);
  border-radius: 40px;
  transform: translateZ(10rem);
}

.thank__text__body {
  /* border: 1px solid red; */
  transform: translateZ(8rem);
  & h1 {
    color: var(--white);
    font-size: var(--f-title-l);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
  }

  & p {
    color: var(--light-grey);
    font-size: var(--f-text-l);
    line-height: 1.5;
    text-align: center;
  }
}

/* FOOTER */

.attribution {
  align-self: flex-end;
  padding-block: 1rem;
  color: var(--light-grey);
}

.attribution a {
  text-decoration: none;
  color: var(--light-grey);
  transition: 200ms ease-in;
}

.attribution a:hover,
.attribution a:focus {
  color: var(--orange);
  text-decoration: underline;
}

/* MEDIA */
/* 
@media (orientation: landscape) and (height <= 400px) {
  .wrapper-rating {
    height: 80%;
    padding: 2% 4%;
  }

  .wrapper-rating__text {
    height: 60%;
    justify-content: space-evenly;
  }

  .wrapper-rating__rate {
    margin-bottom: 1rem;
  }

  .btn {
    width: 40%;
    align-self: center;
  }

  .thank__text__body {
    margin: 0 2.5rem;
  }
}

@media (width>= 840px) {
  .wrapper-rating {
    padding: 1.5% 2.5%;
  }

  .wrapper-rating::before,
  .wrapper-thank__text::before {
    border-image: linear-gradient(to bottom, var(--dark-blue), var(--blue) 50%);
  }

  .wrapper-rating,
  .wrapper-thank {
    max-width: 40%;
    height: 50%;
    border-radius: 40px;
    background-image: linear-gradient(
      to bottom,
      var(--dark-blue),
      var(--blue) 50%
    );
  }

  .text__image,
  .rate-btn {
    width: 8rem;
    height: 8rem;
  }

  .text__image img {
    width: 45%;
  }

  .text__title,
  .thank__text__title {
    font-size: 4.5rem;
    margin-top: 2.5rem;
  }

  .text__body,
  .thank__text__body {
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: 600;
  }

  .rate-btn {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 2.5rem;
  }

  .wrapper-thank {
    padding: 2%;
  }

  .wrapper-thank__text {
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
  }

  .thank__text__image {
    width: max-content;
    margin: 0 auto;
  }

  .thank__text__image img {
    width: 30rem;
  }

  .thank__text__score {
    font-size: 2.5rem;
    padding: 1.5rem 3.5rem;
  }

  .thank__text__body {
    margin: 0 2.5rem 2.5rem;
  }

  .attribution {
    font-size: 1.5rem;
  }
}
 */
