@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: 'Overpass', sans-serif;
}

/* VARIABLES */

:root {
  /* Color */
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --blue: hsl(215, 25%, 13%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);

  /* Font */
  --f-title: 2rem;
  --f-text: 1rem;

  /* Size */
  --wrapper-w: 28rem;
  --wrapper-h: 28rem;
  --wrapper-padding: 2rem 2.8rem;
  --btn: 3.5rem;
  --sub: 3rem;
  --img: 30%;
  --t-img: 10rem;
  --transition: 200ms ease-in-out;
}

.container {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RATING CARD */

.wrapper-rating {
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--blue) 30%
  );
  width: var(--wrapper-w);
  height: var(--wrapper-h);
  padding: var(--wrapper-padding);
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  transform-style: preserve-3d;
  transition: transform 1800ms ease-in-out;
}

.wrapper-rating::before {
  content: '';
  position: absolute;
  --space: 0.5rem;
  top: var(--space);
  left: var(--space);
  right: var(--space);
  bottom: var(--space);
  border: 5px solid var(--dark-blue);
  border-radius: 20px;
  transform: translateZ(5rem);
  opacity: var(--opac, 0);
  transition: opacity 600ms ease-in-out;
}

.rating--sh {
  transform: rotateY(180deg);
}

.wrapper-rating__text {
  transform: translateZ(8rem);

  .text__title {
    color: var(--white);
    font-size: var(--f-title);
    font-weight: 600;
    margin-bottom: 1rem;
    transition: var(--transition);
  }

  .text__body {
    color: var(--light-grey);
    font-size: var(--f-text);
    line-height: 1.5;
    transition: var(--transition);
  }
}

.text__image,
.rate-btn {
  background-color: var(--dark-blue);
  width: var(--btn);
  height: var(--btn);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100vw;
}

.text__image {
  transform: translateZ(8rem);
  & img {
    width: var(--img);
  }
}

.wrapper-rating__rate {
  display: flex;
  justify-content: space-between;
  transform: translateZ(10rem);
  & .rate-btn {
    color: var(--light-grey);
    font-size: var(--f-text);
    border: none;
    transition: color 200ms;
    cursor: pointer;
  }
}

.checked {
  background-color: var(--medium-grey);
  color: var(--white);
}

.rate-btn:hover,
.rate-btn:focus {
  background-color: var(--orange);
  color: var(--white);
}

.btn {
  width: 100%;
  height: var(--sub);
  background-color: var(--orange);
  border: none;
  border-radius: 40px;
  color: var(--white);
  font-size: var(--f-text);
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateZ(8rem);
  transition: color 200ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--white);
  color: var(--orange);
}

/* THANK YOU CARD */

.wrapper-thank__text {
  background-image: linear-gradient(
    to bottom,
    var(--dark-blue),
    var(--blue) 30%
  );
  position: absolute;
  top: 0;
  width: var(--wrapper-w);
  height: var(--wrapper-h);
  padding: var(--wrapper-padding);
  border-radius: 20px;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.wrapper-thank__text::before {
  content: '';
  position: absolute;
  --space: 0.5rem;
  top: var(--space);
  left: var(--space);
  right: var(--space);
  bottom: var(--space);
  border: 5px solid var(--dark-blue);
  border-radius: 20px;
  transform: translateZ(5rem);
  opacity: var(--opac, 0);
  transition: opacity 1000ms ease-in-out;
}

.thank__text__image {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateZ(8rem);
}

.thank__text__image img {
  display: block;
  width: var(--t-img);
}

.thank__text__score {
  margin: 0 auto;
  background-color: var(--dark-blue);
  width: max-content;
  font-size: var(--f-text);
  text-align: center;
  padding: 0.5rem 2rem;
  color: var(--orange);
  border-radius: 40px;
  transform: translateZ(10rem);
}

.thank__text__body {
  transform: translateZ(8rem);
  & h1 {
    color: var(--white);
    font-size: var(--f-title);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    transition: 200ms ease-in-out;
  }

  & p {
    color: var(--light-grey);
    font-size: var(--f-text);
    line-height: 1.5;
    text-align: center;
    transition: 200ms ease-in-out;
  }
}

/* FOOTER */

.attribution {
  margin-inline: auto;
  font-size: var(--f-text);
  text-align: center;
  align-self: flex-end;
  padding-block: 1rem;
  color: var(--light-grey);
}

.attribution a {
  text-decoration: none;
  color: var(--light-grey);
  transition: 200ms ease-in-out;
}

.attribution a:hover,
.attribution a:focus {
  color: var(--orange);
  text-decoration: underline;
}

/* MEDIA */

@media (width < 32.7em) {
  :root {
    --f-title: 1.5rem;
    --f-text: 0.8rem;
    --wrapper-w: 85vw;
    --wrapper-h: 25rem;
    --wrapper-padding: 1rem 1.8rem;
    --btn: 3rem;
    --sub: 2.5rem;
    --t-img: 9rem;
  }
}
